<span class="name">
    <span class="fn">chinote digo </span>
</span>
</h1>
<span class="nickname">@chinofer1</span> -
<span class="adr">
    <span class="country-name">Argentina</span>
</span>

<span class="bio clearfix">

    <div>

        <span class="bio">
            <i class="icon gender"></i>Es un
            <strong>hombre</strong>
        </span>
        <span class="bio">
            <i class="icon lives"></i>Vive en
            <strong>Argentina</strong>
        </span>
        <span class="bio">
            <i class="icon joined"></i>Se uni&oacute; a
            <strong>Taringa!</strong> hace m&aacute;s de 8 a&ntilde;os</span>
    </div>


</span>

<a class="btn g require-login floatL" href="/mensajes/a/chinofer1">
    <div class="btn-text">
        <i class="icon private-message"></i>
        Enviar mensaje </div>
</a>
<div class="follow-buttons ">
    <a obj="user" objid="2673027" errorContainer=.errorFollowComu title="Seguir" class="btn g not-following require-login">
        <div class="btn-text follow-text">
            Seguir
        </div>
    </a>
    <a class="btn v following" title="Siguiendo" style="display:none">
        <div class="btn-text following-text">
            Siguiendo
        </div>
    </a>
    <a obj="user" objid="2673027" errorContainer=.errorFollowComu title="Dejar de seguir" class="btn r unfollowing" style="display:none">
        <div class="btn-text unfollow-text">
            Dejar de seguir
        </div>
    </a>
</div>


</div>
<div class="clearfix floatR">

    <i class="icon hastipsy male" title="Hombre"></i>

    <i class="icon flag" style="margin-top:-3px">
        <img hspace="3" height="11" align="absmiddle" width="16" alt="Argentina" src="https://o1.t26.net/images/flags/ar.png"
            class="hastipsy country-name" title="Argentina">
    </i>

</div>
</div>
</div>

<div id="user-metadata-profile" class="user-level">
    <ul class="clearfix">
        <li class="user-Regular" style="position:relative; width:138px">

            <span class="role">
                <strong>Regular</strong>
            </span>

            <span>Rango</span>
            <span style="position:absolute;top:11px;right:6px">
                <span class="dot-online-offline" style="float: left; width: 16px; height: 16px; background: url('https://o1.t26.net/images/big2v1.png'); background-position: 0 -792px"
                    title="Online"></span>
            </span>
        </li>
        <li>
            <strong>11</strong>
            <span>Puntos</span>
        </li>
        <li>
            <strong>
                <a href="/chinofer1/posts">10</a>
            </strong>
            <span>Posts</span>
        </li>
        <li>
            <strong>1</strong>
            <span>Comentarios</span>
        </li>
        <li>
            <strong>
                0 </strong>
            <span>Temas</span>
        </li>
        <li class="followers-count">
            <strong>
                <a data-val="4" class="data-followers-count" href="/chinofer1/seguidores">4</a>
            </strong>
            <span>Seguidores</span>
        </li>
        <li style="border-right:0 none;">
            <strong>
                <a href="/chinofer1/siguiendo">32</a>
            </strong>
            <span>Siguiendo</span>
        </li>

    </ul>
</div>
</div>
</div>
<div class="box" style="background:#f3f3f3">
</div>
<div id="full-col" class="perfil-content general">
    <script type="text/javascript">
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() + Feed.fetchOffset >= $(document).height() - $(window).height() && loadScrollTimes < 4) {
                    $('#last-activity-view-more').click();
                }
            });
        });
    </script>
    <div class="box">
        <div class="title clearfix">
            <h2>&Uacute;ltima actividad de chinofer1</h2>
            <div class="action">
                <select id="last-activity-filter" onchange="filtrar_ultima_actividad(this.value, 2673027 )">
                    <option value="0">Todas</option>
                    <option value="11">Post nuevo</option>
                    <option value="13">Post recomendado</option>
                    <option value="12">Comentario en un post</option>
                    <option value="21">Tema nuevo</option>
                    <option value="23">Tema recomendado</option>
                    <option value="22">Respuesta en un tema</option>
                    <option value="31">Cre&oacute; una comunidad</option>
                    <option value="32">Se uni&oacute; a una comunidad</option>
                    <option value="41">Sigui&oacute; a un usuario</option>
                    <option value="51">Comparti&oacute; imagenes</option>
                    <option value="52">Comparti&oacute; videos</option>
                    <option value="53">Comparti&oacute; enlaces</option>
                    <option value="54">Comparti&oacute; un estado</option>
                    <option value="55">Comentario en un shout</option>
                </select>
            </div>
        </div>
        <div id="last-activity-container" class="list activity">
            <!-- css fix for shout templates -->
            <style type="text/css">
                .activity-element a.avatar,
                .shout-footer a {
                    float: left !important;
                }
            </style>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a20.t26.net/taringa/avatares/3/1/C/2/5/B/ever40/16x16_08B.jpg"
                    alt="ever40" title="ever40" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="2560373" title="ever40" href="/ever40">ever40</a>
                <span class="time" ts="1528641785">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a05.t26.net/taringa/avatares/B/5/6/3/0/6/fsg88/16x16_B63.jpg"
                    alt="fsg88" title="fsg88" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="1496113" title="fsg88" href="/fsg88">fsg88</a>
                <span class="time" ts="1528641731">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a04.t26.net/taringa/avatares/C/1/7/1/3/C/the_evil_demon/16x16_F05.jpg"
                    alt="the_evil_demon" title="the_evil_demon" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="8409135" title="the_evil_demon" href="/the_evil_demon">the_evil_demon</a>
                <span class="time" ts="1528641725">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a20.t26.net/taringa/avatares/9/1/3/8/B/2/16x16_D38.jpg" alt="ErvakuSama"
                    title="ErvakuSama" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="28833430" title="ErvakuSama" href="/ErvakuSama">ErvakuSama</a>
                <span class="time" ts="1528641721">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a20.t26.net/taringa/avatares/7/A/9/5/2/1/fdmaycry/16x16_EA5.jpg"
                    alt="fdmaycry" title="fdmaycry" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="10159246" title="fdmaycry" href="/fdmaycry">fdmaycry</a>
                <span class="time" ts="1528641709">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a20.t26.net/taringa/avatares/A/6/C/C/A/2/Cold-Fear/16x16_676.jpg"
                    alt="Cold-Fear" title="Cold-Fear" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="26297597" title="Cold-Fear" href="/Cold-Fear">Cold-Fear</a>
                <span class="time" ts="1528641705">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a21.t26.net/taringa/avatares/E/9/E/A/3/8/EstefaniaChaves/16x16_981.jpg"
                    alt="EstefaniaChaves" title="EstefaniaChaves" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="21409371" title="EstefaniaChaves" href="/EstefaniaChaves">EstefaniaChaves</a>
                <span class="time" ts="1528641702">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a12.t26.net/taringa/avatares/9/D/C/4/1/E/Ksht_LPS/16x16_734.jpg"
                    alt="Ksht_LPS" title="Ksht_LPS" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="3945389" title="Ksht_LPS" href="/Ksht_LPS">Ksht_LPS</a>
                <span class="time" ts="1528641631">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a21.t26.net/taringa/avatares/B/3/7/F/5/9/J0RGTX/16x16_382.jpg"
                    alt="J0RGTX" title="J0RGTX" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="24099762" title="J0RGTX" href="/J0RGTX">J0RGTX</a>
                <span class="time" ts="1528641442">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a21.t26.net/taringa/avatares/4/8/C/4/4/B/ScottPill/16x16_214.jpg"
                    alt="ScottPill" title="ScottPill" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="25669571" title="ScottPill" href="/ScottPill">ScottPill</a>
                <span class="time" ts="1528641439">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a08.t26.net/taringa/avatares/9/6/3/4/B/9/muycontento/16x16_2B7.jpg"
                    alt="muycontento" title="muycontento" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="25681200" title="muycontento" href="/muycontento">muycontento</a>
                <span class="time" ts="1528641435">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a20.t26.net/taringa/avatares/0/D/8/E/3/1/gardeleando_09/16x16_470.jpg"
                    alt="gardeleando_09" title="gardeleando_09" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="4668664" title="gardeleando_09" href="/gardeleando_09">gardeleando_09</a>
                <span class="time" ts="1528641431">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a21.t26.net/taringa/avatares/1/4/A/F/A/2/Hector_AR/16x16_4A9.jpg"
                    alt="Hector_AR" title="Hector_AR" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="3749182" title="Hector_AR" href="/Hector_AR">Hector_AR</a>
                <span class="time" ts="1528641428">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a21.t26.net/taringa/avatares/D/3/3/4/4/0/MATE554/16x16_64B.jpg"
                    alt="MATE554" title="MATE554" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="5087380" title="MATE554" href="/MATE554">MATE554</a>
                <span class="time" ts="1528641423">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a20.t26.net/taringa/avatares/5/6/1/2/0/4/IbagazaTaringero/16x16_46A.jpg"
                    alt="IbagazaTaringero" title="IbagazaTaringero" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="28817006" title="IbagazaTaringero" href="/IbagazaTaringero">IbagazaTaringero</a>
                <span class="time" ts="1528641420">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a21.t26.net/taringa/avatares/9/6/1/2/6/9/CarlitoxV16/16x16_D07.jpg"
                    alt="CarlitoxV16" title="CarlitoxV16" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="18617747" title="CarlitoxV16" href="/CarlitoxV16">CarlitoxV16</a>
                <span class="time" ts="1528641349">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a21.t26.net/taringa/avatares/2/A/D/5/F/4/GustavoCarp92/16x16_47D.jpg"
                    alt="GustavoCarp92" title="GustavoCarp92" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="27914913" title="GustavoCarp92" href="/GustavoCarp92">GustavoCarp92</a>
                <span class="time" ts="1528641346">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a20.t26.net/taringa/avatares/8/C/0/F/C/1/YaHueloElBan/16x16_56F.jpg"
                    alt="YaHueloElBan" title="YaHueloElBan" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="28809041" title="YaHueloElBan" href="/YaHueloElBan">YaHueloElBan</a>
                <span class="time" ts="1528641342">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a20.t26.net/taringa/avatares/6/A/2/5/9/1/davmgz2/16x16_A1E.jpg"
                    alt="davmgz2" title="davmgz2" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="12354172" title="davmgz2" href="/davmgz2">davmgz2</a>
                <span class="time" ts="1528641335">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a20.t26.net/taringa/avatares/B/D/4/5/4/E/noidused/16x16_C60.jpg"
                    alt="noidused" title="noidused" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="24741320" title="noidused" href="/noidused">noidused</a>
                <span class="time" ts="1528641332">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a06.t26.net/avatares/3/0/6/1/16x16_nr_3061090.jpg" alt="Jona77an_88"
                    title="Jona77an_88" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="3061090" title="Jona77an_88" href="/Jona77an_88">Jona77an_88</a>
                <span class="time" ts="1528641329">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a10.t26.net/avatares/6/1/2/3/16x16_nr_6123262.jpg" alt="TuSombraPerversa"
                    title="TuSombraPerversa" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="6123262" title="TuSombraPerversa" href="/TuSombraPerversa">TuSombraPerversa</a>
                <span class="time" ts="1528641323">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a20.t26.net/taringa/avatares/7/9/4/3/1/F/jajo5555/16x16_D26.jpg"
                    alt="jajo5555" title="jajo5555" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="7675310" title="jajo5555" href="/jajo5555">jajo5555</a>
                <span class="time" ts="1528640774">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a20.t26.net/taringa/avatares/4/8/0/D/7/2/MasterGanja/16x16_249.jpg"
                    alt="MasterGanja" title="MasterGanja" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="494636" title="MasterGanja" href="/MasterGanja">MasterGanja</a>
                <span class="time" ts="1528640768">hace 7 horas</span>
            </div>
            <div class="activity-element activity-min clearfix user-data-target">
                <img src="https://r.kn3.net/taringa_defaults/avatares/m/16x16_5.jpg" alt="chinofer1" title="chinofer1" onerror="error_avatar(this, 2673027, 16)"
                /> Est&aacute; siguiendo a
                <img src="https://a20.t26.net/taringa/avatares/E/4/1/2/6/1/Jacobo-66/16x16_226.jpg"
                    alt="Jacobo-66" title="Jacobo-66" onerror="error_avatar(this)" /> @
                <a class="hovercard" data-uid="28658396" title="Jacobo-66" href="/Jacobo-66">Jacobo-66</a>
                <span class="time" ts="1528640764">hace 7 horas</span>
            </div>
            <a class="view-more hide" id="last-activity-view-more" onclick="more_ultima_actividad('1-41-28658396', '2673027', '1');return false;">
                Ver m&aacute;s actividad &raquo;
            </a>


            <div id="action-dialogs" style="display:none;">
                <div id="deleteWallObject-dialog" title="Eliminar">
                    <p>¿Seguro que deseas borrar esta publicaci&oacute;n?</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="sidebar">



    <div class="box clearfix">
        <div class="title clearfix">
            <h2>Karma</h2>
        </div>

        <strong>Nivel de Karma:</strong> 5,07</div>
    <div id="followers-profile-box" class="box w-seguidores">
        <div class="title clearfix followers-count">
            <h2>Seguidores</h2>
            <span class="action value">
                <a data-val="4" class="data-followers-count" href="/chinofer1/seguidores">4</a>
            </span>
        </div>
        <ul class="clearfix avatar-list">
            <li class="hovercard" data-uid="28809041">
                <a rel="nofollow" href="/YaHueloElBan">
                    <img src="https://a20.t26.net/taringa/avatares/8/C/0/F/C/1/YaHueloElBan/32x32_56F.jpg" alt="YaHueloElBan" title="YaHueloElBan"
                    />
                </a>
            </li>
            <li class="hovercard" data-uid="27914913">
                <a href="/GustavoCarp92">
                    <img src="https://a21.t26.net/taringa/avatares/2/A/D/5/F/4/GustavoCarp92/32x32_47D.jpg" alt="GustavoCarp92" title="GustavoCarp92"
                    />
                </a>
            </li>
            <li class="hovercard" data-uid="24099762">
                <a href="/J0RGTX">
                    <img src="https://a21.t26.net/taringa/avatares/B/3/7/F/5/9/J0RGTX/32x32_382.jpg" alt="J0RGTX" title="J0RGTX" />
                </a>
            </li>
            <li class="hovercard" data-uid="2466338">
                <a href="/brakdag2">
                    <img src="https://a21.t26.net/taringa/avatares/7/3/6/8/5/9/brakdag2/32x32_DEF.jpg" alt="brakdag2" title="brakdag2" />
                </a>
            </li>
        </ul>
    </div>
    <div id="following-profile-box" class="box w-siguiendo">
        <div class="title clearfix following-count">
            <h2>Siguiendo</h2>
            <span class="action value">
                <a data-val="32" class="data-following-count" href="/chinofer1/siguiendo">32</a>
            </span>
        </div>
        <ul class="clearfix avatar-list">
            <li class="hovercard" data-uid="2560373">
                <a href="/ever40">
                    <img src="https://a20.t26.net/taringa/avatares/3/1/C/2/5/B/ever40/32x32_08B.jpg" alt="ever40" title="ever40" />
                </a>
            </li>
            <li class="hovercard" data-uid="1496113">
                <a href="/fsg88">
                    <img src="https://a05.t26.net/taringa/avatares/B/5/6/3/0/6/fsg88/32x32_B63.jpg" alt="fsg88" title="fsg88" />
                </a>
            </li>
            <li class="hovercard" data-uid="8409135">
                <a href="/the_evil_demon">
                    <img src="https://a04.t26.net/taringa/avatares/C/1/7/1/3/C/the_evil_demon/32x32_F05.jpg" alt="the_evil_demon" title="the_evil_demon"
                    />
                </a>
            </li>
            <li class="hovercard" data-uid="28833430">
                <a href="/ErvakuSama">
                    <img src="https://a20.t26.net/taringa/avatares/9/1/3/8/B/2/32x32_D38.jpg" alt="ErvakuSama" title="ErvakuSama" />
                </a>
            </li>
            <li class="hovercard" data-uid="10159246">
                <a href="/fdmaycry">
                    <img src="https://a20.t26.net/taringa/avatares/7/A/9/5/2/1/fdmaycry/32x32_EA5.jpg" alt="fdmaycry" title="fdmaycry" />
                </a>
            </li>
            <li class="hovercard" data-uid="26297597">
                <a href="/Cold-Fear">
                    <img src="https://a20.t26.net/taringa/avatares/A/6/C/C/A/2/Cold-Fear/32x32_676.jpg" alt="Cold-Fear" title="Cold-Fear" />
                </a>
            </li>
            <li class="hovercard" data-uid="21409371">
                <a href="/EstefaniaChaves">
                    <img src="https://a21.t26.net/taringa/avatares/E/9/E/A/3/8/EstefaniaChaves/32x32_981.jpg" alt="EstefaniaChaves" title="EstefaniaChaves"
                    />
                </a>
            </li>
            <li class="hovercard" data-uid="3945389">
                <a href="/Ksht_LPS">
                    <img src="https://a12.t26.net/taringa/avatares/9/D/C/4/1/E/Ksht_LPS/32x32_734.jpg" alt="Ksht_LPS" title="Ksht_LPS" />
                </a>
            </li>
            <li class="hovercard" data-uid="24099762">
                <a href="/J0RGTX">
                    <img src="https://a21.t26.net/taringa/avatares/B/3/7/F/5/9/J0RGTX/32x32_382.jpg" alt="J0RGTX" title="J0RGTX" />
                </a>
            </li>
            <li class="hovercard" data-uid="25669571">
                <a href="/ScottPill">
                    <img src="https://a21.t26.net/taringa/avatares/4/8/C/4/4/B/ScottPill/32x32_214.jpg" alt="ScottPill" title="ScottPill" />
                </a>
            </li>
            <li class="hovercard" data-uid="25681200">
                <a href="/muycontento">
                    <img src="https://a08.t26.net/taringa/avatares/9/6/3/4/B/9/muycontento/32x32_2B7.jpg" alt="muycontento" title="muycontento"
                    />
                </a>
            </li>
            <li class="hovercard" data-uid="4668664">
                <a href="/gardeleando_09">
                    <img src="https://a20.t26.net/taringa/avatares/0/D/8/E/3/1/gardeleando_09/32x32_470.jpg" alt="gardeleando_09" title="gardeleando_09"
                    />
                </a>
            </li>
            <li class="hovercard" data-uid="3749182">
                <a href="/Hector_AR">
                    <img src="https://a21.t26.net/taringa/avatares/1/4/A/F/A/2/Hector_AR/32x32_4A9.jpg" alt="Hector_AR" title="Hector_AR" />
                </a>
            </li>
            <li class="hovercard" data-uid="5087380">
                <a href="/MATE554">
                    <img src="https://a21.t26.net/taringa/avatares/D/3/3/4/4/0/MATE554/32x32_64B.jpg" alt="MATE554" title="MATE554" />
                </a>
            </li>
            <li class="hovercard" data-uid="28817006">
                <a href="/IbagazaTaringero">
                    <img src="https://a20.t26.net/taringa/avatares/5/6/1/2/0/4/IbagazaTaringero/32x32_46A.jpg" alt="IbagazaTaringero" title="IbagazaTaringero"
                    />
                </a>
            </li>
            <li class="hovercard" data-uid="18617747">
                <a href="/CarlitoxV16">
                    <img src="https://a21.t26.net/taringa/avatares/9/6/1/2/6/9/CarlitoxV16/32x32_D07.jpg" alt="CarlitoxV16" title="CarlitoxV16"
                    />
                </a>
            </li>
            <li class="hovercard" data-uid="27914913">
                <a href="/GustavoCarp92">
                    <img src="https://a21.t26.net/taringa/avatares/2/A/D/5/F/4/GustavoCarp92/32x32_47D.jpg" alt="GustavoCarp92" title="GustavoCarp92"
                    />
                </a>
            </li>
            <li class="hovercard" data-uid="28809041">
                <a rel="nofollow" href="/YaHueloElBan">
                    <img src="https://a20.t26.net/taringa/avatares/8/C/0/F/C/1/YaHueloElBan/32x32_56F.jpg" alt="YaHueloElBan" title="YaHueloElBan"
                    />
                </a>
            </li>
        </ul>
        <div class="read-more clearfix">
            <span class="show-more">
                <a href="/chinofer1/siguiendo">Ver m&aacute;s &raquo;</a>
            </span>
        </div>
    </div>
    <div class="box w-comunidades">
        <div class="title clearfix">
            <h2>Comunidades</h2>
            <span class="action value">
                <a href="/chinofer1/comunidades">0</a>
            </span>
        </div>
        <div class="comunidades-list">
            <div class="emptyData">No participa en ninguna comunidad</div>
        </div>
    </div>

</div>
</div>
<div id="action-dialogs" style="display:none">
    <div class="forward-dialog" title="Compartir ">
        <p>¿Quieres compartir esto con tus seguidores?</p>
    </div>
</div>

</div>
<div id="footer">
    <div class="wrapper clearfix">
        <div class="last-action clearfix">
            <div id="asd" class="fl-l">
                <input type="text" placeholder="Buscar..." class="searchq fast-search" />
                <a class="btn_search"></a>
            </div>
            <div class="fl-l">
                <a href="http://www.wiroos.com/" class="pie-wiroos" alt="Hosting por WIROOS" title="Hosting por WIROOS"></a>
            </div>
            <div class="fl-r">
                <a onclick="$('body').scrollTo(0)" class="irCielo">
                    <strong>Ir al cielo</strong>
                </a>
            </div>
        </div>

    </div>
</div>

<div id="footer-links" style="width: 1002px; margin:0 auto;position:relative">
    <ul class="clearfix footer-list">
        <li>
            <a rel="nofollow" href="/comercial/">Anuncie en Taringa!</a>| </li>
        <li>
            <a rel="nofollow" href="/sobrenosotros/">Sobre Nosotros</a>| </li>
        <li>
            <a rel="nofollow" href="http://ayuda.itaringa.net">Ayuda</a>| </li>
        <li>
            <a rel="nofollow" href="/protocolo/">Reglas de la Comunidad</a> |</li>
        <li>
            <a rel="nofollow" href="/widgets/compartir">Desarrolladores</a> |</li>
        <li>
            <a rel="nofollow" href="/empleos/">Trabaja con nosotros!</a> |</li>
        <li>
            <a rel="nofollow" href="https://taringa.uservoice.com/">Reportar bug</a>|</li>
        <li>
            <a href="/enciclopedia/">Enciclopedia</a>
        </li>
    </ul>
    <ul class="clearfix footer-list">
        <li>
            <a href="/ar">Argentina</a>| </li>
        <li>
            <a href="/cl">Chile</a>| </li>
        <li>
            <a href="/co">Colombia</a> |</li>
        <li>
            <a href="/mx">México</a> |</li>
        <li>
            <a href="/pe">Perú</a> |</li>
        <li>
            <a href="/uy">Uruguay</a> |</li>
        <li>
            <a href="/ve">Venezuela</a> |</li>
        <li>
            <a href="/global">Resto del mundo</a>
        </li>
    </ul>
    <ul class="clearfix footer-list">
        <li>
            <a href="/denuncia-publica/">Denuncias</a>|</li>
        <li>
            <a href="/takedown-notice.php">Reportar Abuso - DMCA</a>|
        </li>
        <li>
            <a href="/terminos-y-condiciones/">Términos y Condiciones</a>|
        </li>
        <li>
            <a href="/privacidad-de-datos/">Privacidad de datos</a>
        </li>
    </ul>
</div>

<a id="scroll-up"></a>

<script id="lastmessages_tmpl" type="text/html">
<% if ( data.length == 0 ) { %>
<div class="list-element">
No tienes mensajes? Prueba escribiendo a tus amigos!</div>
<% } else { %>
<% for (var i = 0, c = data.length; i < c; ++i) { %>
<div class="list-element msg<% if (data[i].unread) { %> unread<% } %>">
<a href="/mensajes/leer/<%= data[i].id %>" class="msg-element"></a>
<a href="/<%= data[i].nick %>">
<img class="msg-avatar <%= data[i].online %>" src="<%= data[i].avatar %>" />
</a>
<div class="info-msg">
<a class="msg-nick" href="/<%= data[i].nick %>"><%= data[i].nick %></a><br />
<a class="asunto" style="overflow:hidden" href="/mensajes/leer/<%= data[i].id %>"><%= data[i].subject %></a>
</div>
</div>
<% } %>
<% } %>
</script>

<script id="lastfavorites_tmpl" type="text/html">
<% if ( data.length == 0 ) { %>
<div class="list-element">
A&uacute;n no tienes favoritos          </div>
<% } else { %>
<% for ( var i = 0; i < data.length; i++ ) { %>
<div onClick="goToRef('<%= data[i].url %>'); return false;" class="list-element">
<i class="icon <%= data[i].categoria %>" title="<%= data[i].categoria_name %>"></i>
<a href="<%= data[i].url %>"><%= data[i].titulo %></a>
</div>
<% } %>
<% } %>
</script>

<script id="user_suggest" type="text/html">
<li class="clearfix user-suggest <%= type %>">
<a>
<img src="<%= icon %>" />
<div>
<strong><%= label %></strong>
<span><%= desc %></span>
</div>
</a>
</li>
</script>

<script id="word_suggest" type="text/html">
<li class="clearfix user-suggest <%= type %>">
<a><strong><%= label %></strong></a>
</li>
</script>

<script id="action_log_item" type="text/html">
<div class="list-element overflow">
<i class="icon <%=icon%>" style="margin-right:10px"></i>
<img src="<%=avatar%>" class="avatar-16 floatL" style="margin-right:8px" />
<%=text%>
<span ts="<%=timestamp%>"><%=date%></span>
</div>
</script>

<script id="quick_mp" type="text/html">
<div class="comment clearfix">
<div class="comment-data">
<a class="min-avatar" href="/">
<img class="avatar-48" src="" />
</a>
</div>
<div class="comment-text">
<div class="comment-author clearfix">
@<a href="/" class="hovercard"></a>
<span class="subtext">
<span style="text-transform:lowercase" ts="<%=timestamp%>">Hace instantes</span>
</span>
<div class="comment-content"><%=text%></div>
</div>
</div>
</div>
</script>

<script type="text/html" id="user_suggest_item">
<li><a data-nick="<%=user%>"></a><img src="<%=avatar%>"/><span class="nick"><%=user%></span><span class="name"><%=name%></span></li>
</script>

<!-- My shout box -->
<!-- Templates Attachments -->
<script type="text/html" id="template_attach_progress">
<a class="cancel-attach"><i class="icon remove-s"></i></a>
<div class="my-shout-attach-progressBar"></div>
</script>
<script type="text/html" id="template_attach_error">
<a class="remove-attach"><i class="icon remove-s"></i></a>
<div class="my-shout-attach-error"><%= message %></div>
</script>
<!-- FIN - Templates Attachments -->

<!-- Templates Attachments - Input -->
<script type="text/html" id="template_attach_image_input">
<a class="remove-attach"><i class="icon remove-s"></i></a>
<div class="add-url clearfix">
<label>URL</label>
<form>
<input class="simple" type="text" name="url" tabindex="601" placeholder="URL de la imagen" autocomplete="off" />
<input class="simple-btn" type="submit"  tabindex="602" value="Agregar" />
</form>
</div>
</script>

<script type="text/html" id="template_attach_video_input">
<a class="remove-attach"><i class="icon remove-s"></i></a>
<div class="add-url clearfix">
<label>URL</label>
<form>
<input class="simple" type="text" name="url" tabindex="601" placeholder="URL del video" autocomplete="off" />
<input class="simple-btn" type="submit"  tabindex="602" value="Agregar" />
</form>
</div>
</script>

<script type="text/html" id="template_attach_link_input">
<a class="remove-attach"><i class="icon remove-s"></i></a>
<div class="add-url clearfix">
<label>URL</label>
<form>
<input class="simple" type="text" name="url" tabindex="601" placeholder="URL del enlace" autocomplete="off" />
<input class="simple-btn" type="submit" tabindex="602" value="Agregar" />
</form>
</div>
</script>
<!-- FIN - Templates Attachments - Input -->

<!-- Templates Attachments - Preview -->
<script type="text/html" id="template_attach_image_preview">
<a class="remove-attach"><i class="icon remove-s"></i></a>
<img src="<%= url %>" />
</script>

<script type="text/html" id="template_attach_video_preview">
<a class="remove-attach"><i class="icon remove-s"></i></a>
<%= html %>
</script>

<script type="text/html" id="template_attach_link_preview">
<a class="remove-attach"><i class="icon remove-s"></i></a>
<% if(local == 0){ %>
<div class="link-data" style="margin-top: 10px; width:auto;">
<h2 class="floatL"><a class="textlimit" style="display:block; max-width:570px; overflow:hidden;" data-width="570" href="<%= url %>"><%= title %></a></h2>
<p class="link-desc floatL"><%= description %></p>
<p class="link-desc floatL">
<div class="short-url">
<img class="floatL" src="<%= favicon %>" style="width:16px; height:16px; margin-right:2px; vertical-align:middle" /><a class="floatL textlimit" data-width="532" style="color:#006595; display:block; max-width:532px; overflow:hidden;" href="<%= url %>"><%= url %></a>
</div>
</p>
</div>
<% } else { %>
<% if(image != ''){ %>
<div class="link-shout-content clearfix link-data" style="margin-top: 10px; width: auto;">
<a class="thumb" style="margin-top: 0;" href="<%= imageUrl %>">
<img src="<%= image %>" />
</a>
<div class="">
<h2>
<a href="<%= url %>"><%= title %></a>
</h2>
<p class="link-desc"><%= description %></p>
<div class="short-url">
<i class="icon <%= icon %>"></i>
<a target="_blank" href="<%= url %>"><%= url %></a>
</div>
</div>
</div>
<% }else{ %>
<div class="link-data" style="margin-top: 10px; width:auto;">
<h2 class="floatL"><a class="textlimit" style="display:block; max-width:570px; overflow:hidden;" data-width="570" href="<%= url %>"><%= title %></a></h2>
<p class="link-desc floatL"><%= description %></p>
<p class="link-desc floatL">
<div class="short-url">
<i class="icon <%= icon %>"></i><a class="floatL textlimit" data-width="532" style="color:#006595; display:block; max-width:532px; overflow:hidden;" href="<%= url %>"><%= url %></a>
</div>
</p>
</div>
<% } %>
<% } %>
</script>

<!-- FIN - Templates Attachments - Preview -->
<!-- FIN - My shout box -->





<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

</div>
<!-- id=page -->

<!--[if lt IE 9 ]>
<div id="ie8alert" class="ui-corner-all" style="z-index: 99999;display: none;position: fixed;width: 460px;top: 50%;left: 50%;margin-left: -250px;margin-top: -150px;background-color:
#FFF;border-radius: 3px;">
<div class="ui-dialog ui-widget ui-widget-content" tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-1" style="width: 460px; background: #FFF; padding: 20px;">
<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix" style="padding: 0 0 5px;">
<span class="ui-dialog-title" id="ui-dialog-title-1" style="line-height: 34px; color: #4f5050; font-weight: 300; font-family: 'Helvetica Neue','Helvetica','Arial','Lucida Grande',sans-serif;">Te recomendamos actualizar tu navegador</span>
</div>
<div class="ui-dialog-paragraph" style="margin: 15px 0 15px;">
<span style="font-size: 16px;line-height: 20px;color: #6d6d6d;">Est&aacute;s usando una versi&oacute;n de Internet Explorer menor que 9 y no es compatible con Taringa!.
Para mejorar tu experiencia descarga la &uacute;ltima versi&oacute;n de cualquiera de estos navegadores:</span>
</div>
<div class="browser-links" style="text-align: center; margin-bottom: 15px;">
<a href='http://www.google.com/chrome/' title='Google Chrome' target="_blank" style="text-decoration: none; margin-left: 25px;">
<img src='https://o1.t26.net//img/ch.png' style="width: 10%; height: auto;"/>
</a>
<a href='https://www.mozilla.org/products/download.html' title='Mozilla Firefox' target="_blank" style="text-decoration: none; margin-left: 25px;">
<img src='https://o1.t26.net//img/ff.png' style="width: 10%; height: auto;"/>
</a>
<a href='http://windows.microsoft.com/en-US/internet-explorer/downloads/ie' title='Internet Explorer' target="_blank" style="text-decoration: none; margin-left: 25px;">
<img src='https://o1.t26.net//img/ie.png' style="width: 10%; height: auto;"/>
</a>
</div>
<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="padding: 0; padding-bottom: 0 !important;">
<div class="ui-dialog-buttonset">
<button type="button" class="floatL ui-button ui-widget ui-corner-all" role="button" onclick="javascript:closeIEalert()" style="background: #e6e6e6; padding: 7px 0;">
<span class="ui-button-text" style="width: 100%;">Cerrar</span>
</button>
</div>
</div>
</div>
</div>

<script type="text/javascript">

function appendHtml(el, str) {
var div = document.createElement('div');
div.innerHTML = str;
while (div.children.length > 0) {
el.appendChild(div.children[0]);
}
}

function openIEalert() {
var ventana = document.getElementById('ie8alert');
var backdrop = '<div id="backdrop" style="background: #000; opacity: 0.6; -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60); filter: alpha(opacity=60); position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 99998;"></div>';
var body = document.body;

appendHtml(document.body, backdrop);

body.style.overflow = 'hidden';
ventana.style.display = 'block';
}

function closeIEalert() {
var ventana = document.getElementById('ie8alert');
var backdrop = document.getElementById('backdrop');
var body = document.body;

body.removeAttribute("style");

backdrop.parentNode.removeChild(backdrop);

ventana.style.display = 'none';

createCookie('iealert', 1, 1)
}

if (!readCookie('iealert')) {
openIEalert();
}

</script>
<![endif]-->
<script type="text/javascript">
    if (typeof GS_googleAddAdSenseService === 'undefined') {
        //_gaq.push(['_trackEvent', 'Ads', 'Blocked']);
    }
</script>
<div class="tooltip-anonimo" style="display:none">
    <div class="panel-header">
        <span class="pointer" onclick="$('.tooltip-anonimo').hide();">X</span>
        <span class="pico"></span>
        Se parte de Taringa! </div>
    <div class="panel-body">
        Esta acci&oacute;n es solo para usuarios de Taringa! </div>
    <div class="panel-footer clearfix">
        <a data-track-click="user.modal.facebook" class="btn login-with-fb" onclick="Facebook.login('login-modal')">Ingresar con Facebook</a>
        <a data-track-click="user.modal.login" class="btn ui-button-positive" href="/login?redirect=%2Fchinofer1">Identificarme</a>
    </div>
</div>
<script type="text/javascript">
    $('.tooltip a.follow-button').live('click', function () {
        location.href = '/registro';
        $(this).removeClass('ui-button-positive');
        $(this).find('span.ui-button-text .following-button-text').remove();
        $(this).find('span.ui-button-text .follow-button-text').show();
        return false;
    });
</script>
<!--- Javascripts -->
<script>
    var VisitTracker = {
        data: { "url": "https:\/\/www.taringa.net\/chinofer1", "visitType": "page", "referer": "https:\/\/www.taringa.net\/\/chinofer1", "section": null, "ab_test_track": "main", "ab_test_name": "", "pages_viewed": 1 }
    }
</script>

<script id="Mustache_login-modal" type="text/html"><div id="login-modal" class="v6 t-modal">
<div class="t-modal__inner t-modal__inner--fb">
<span class="t-modal__close icon-close"></span>

<h2 class="t-modal__title">Sé parte de Taringa!</h2>

<h5 class="t-modal__subtitle">Registrate con tu cuenta de Facebook y súmate a nuestra comunidad gratis y al instante.</h5>
<p class="t-modal__text">Con tu cuenta de Taringa! podrás acceder a todo el contenido creado por nuestros usuarios,
crear tus propios Posts y encontrar la información más útil y divertida de la Internet.</p>

<span class="t-modal__alert hide"></span>
<span class="t-modal__note hide"></span>

<button class="t-modal__btn btn btn--fw btn--blue-dark p-r loading disabled">Conéctate con <strong>facebook</strong></button>

<div class="t-modal__footer cf">
<div class="fl-l"></div>
<div class="fl-r"><a href="{{login_href}}" class="t-modal__link">¿Ya tienes usuario en Taringa!?</a></div>
</div>
</div>
</div>
</script>
<script id="Mustache_signup-modal" type="text/html"><div class="v6 t-modal">
<div class="t-modal__inner t-modal__inner--fb">
<span class="t-modal__close icon-close"></span>

<h2 class="t-modal__title">Completa tu perfil</h2>

<span class="t-modal__alert hide"></span>
<span class="t-modal__note hide"></span>

<h5 class="t-modal__subtitle">Verifica los datos de tu perfil para terminar de crear tu cuenta.</h5>
<p class="t-modal__text">Importamos tus datos de tu perfil de Facebook automáticamente pero puedes modificarlos si lo deseas.
Si algun campo no tiene datos, completalos para continuar.</p>
<form class="t-modal__form cf">
<div class="fl-l">
<div class="cropper">
<div class="cropper__content hide"></div>
<div class="cropper__placeholder"></div>
<div class="file-btn">
<label class="btn t-modal__upload">
Cambiar
<input class="t-modal__file" type="file" accept="image/*">
</label>
<button type="button" class="t-modal__file--remove btn icon-eliminar" value="eliminar">
</div>
</div>
</div>

<div class="fl-r">
<div class="t-modal__half">
<label for="nick">Nick</label>
<div id="field-nick" class="input-cont">
<input id="nick" type="text" name="nick" value="{{nick}}" maxlength="16" tabindex="1">
</div>

<label for="email">Email</label>
<div id="field-email" class="input-cont {{#email}}disabled{{/email}}">
<input id="email" type="text" name="email" value="{{email}}" {{#email}}disabled{{/email}} maxlength="50" tabindex="5">
</div>
</div>

<div class="t-modal__half">
<label for="birthday-day">Fecha de nacimiento</label>
<div id="field-birthday" class="input-cont">
<div class="select-cont">
<select name="day" id="birthday-day" tabindex="2">
{{#birthdayHelper.day}}
<option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
{{/birthdayHelper.day}}
</select>
</div>
<div class="select-cont">
<select name="month" tabindex="3">
{{#birthdayHelper.month}}
<option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
{{/birthdayHelper.month}}
</select>
</div>
<div class="select-cont">
<select name="year" tabindex="4">
{{#birthdayHelper.year}}
<option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
{{/birthdayHelper.year}}
</select>
</div>
</div>

<label for="repeat-email">Repetir email</label>
<div id="field-repeat-email" class="input-cont {{#email}}disabled{{/email}}">
<input id="repeat-email" type="text" name="repeat-email" value="{{email}}" {{#email}}disabled{{/email}} maxlength="50" tabindex="6">
</div>

</div>
</div>
<div class="t-modal__half t-modal__half--footer">
<label for="tos">
<input type="checkbox" id="tos" class="fl-l" tabindex="7">
Acepto los <a href="/terminos-y-condiciones" class="t-modal__link" target="_blank">Términos y Condiciones</a>
</label>
<label for="newsletter">
Recibir el mejor contenido de Taringa! en mi email
<input type="checkbox" name="newsletter" id="newsletter" class="fl-l" checked tabindex="8">
</label>
</div>

<div class="t-modal__half t-modal__half--footer">
<button type="submit" class="btn btn__submit btn--green-l  p-r disabled fl-r m-0" disabled tabindex="9">Crear cuenta</button>
</div>
</form>
</div>
</div>
</script>
<script id="Mustache_signup-modal-confirm" type="text/html"><div class="v6 t-modal">
<div class="t-modal__inner t-modal__inner--fb">
<span class="t-modal__close icon-close"></span>

<h2 class="t-modal__title">Valida tu cuenta</h2>
<h5 class="t-modal__subtitle">Te hemos enviado un email {{email}} a la cuenta de email especificada. Revisa tu cuenta y haz click en el enlace para activar tu cuenta.</h5>
<div class="t-modal__footer">
<div class="t-modal__half"></div>
<div class="t-modal__half">
<button type="button" class="btn btn__submit btn--green-l btn--fw p-r">Aceptar</button>
</div>
</div>
</div>
</div>
</script>
<script id="Mustache_signup-invite" type="text/html"><div id="invite-modal" class="v6 t-modal">
<div class="t-modal__inner t-modal__inner--invite">
<span class="t-modal__close icon-close"></span>
<div class="t-modal__img"></div>
<h2 class="t-modal__title t-modal__title--grey">Participa de Taringa!</h2>

<p class="t-modal__text">Si te gusta lo que estás leyendo te invitamos a formar parte de la mayor comunidad online de Latinoamérica. Estando registrado podrás comentar, votar y recibir recomendaciones del mejor contenido especialmente para ti.</p>

<button class="t-modal__btn btn btn--fw btn--blue-dark p-r">Conéctate con <strong>facebook</strong></button>

<div class="t-modal__footer cf">
<p class="t-modal__footertxt">¿Ya tienes una cuenta?</p>
<a href="{{login_href}}"><button class="t-modal__smbtn btn btn--blue p-r"> Identificarme </button></a>
</div>
</div>
</div></script>
<script src="//connect.facebook.net/es_LA/sdk.js" async></script>
<script type="text/javascript">FacebookData = { "appId": "143125965710465", "userId": false }</script>
<script src="https://o1.t26.net/js/application.min.js?1009"></script>
<script type="text/javascript">new Realtime({ "host": "ws.taringa.net", "port": 8080, "useSSL": true })</script>
<script type="text/javascript">UGCProxy({ "host": "https:\/\/ugc.kn3.net", "excluded": ["kn3.net", "taringa.net", "t26.net"], "maintenance": false })</script>
<script type="text/javascript">Kn3Client.configure({ "baseUrl": "https:\/\/apikn3.taringa.net\/", "domain": "taringa.net", "dataSignService": "\/ajax\/kn3-signdata.php" })</script>


<script type="text/javascript"> var _rely = [], _rl_id = 146, _rl_src = 4, _rl_ptc = ('https:' == window.location.protocol ? 'https' : 'http'); _rely.send = function () { }; (function () { var rl = document.createElement('script'); rl.type = 'text/javascript'; rl.async = true; rl.src = _rl_ptc + '://api.retargetly.com/loader?id=' + _rl_id; rl.id = 'rely-api'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(rl, s); })();
</script>

<script type="text/javascript">

    _rely.push({
        'tags': 'gender_unknown, age_unknown, keywords_unknown'
    });
    _rely.send();

</script>

<script type="text/javascript">
    $(document).ready(function () {
        gaTracker.globalCategory = '';
        gaTracker.geoFilter = 'Global';
    });
</script>
</div>
</body>

</html>